@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-gray: var(--bg-light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-border-gray: var(--border-gray);
}

:root {
/* --------------------------- background */
  --background: #ffffff;
  --bg-light-gray: #f2f2f7;

  /* ------------------------- borders */
  --border-gray: #c6c6c8;

  --foreground: #171717;
  --dark-gray: #85858b;
}

@layer base{
  *{
    border-color: var(--border-gray);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
